@model IEnumerable<Polly.Website.Models.IndexProductView>
@{
    ViewBag.Title = "Products";
}
<div class="container marketing pt-4">
    <h2 class="h2">Todays top picks</h2>
    <hr class="featurette-divider">
    <label for="sortOptions"></label>
    <div class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 pb-4">
                <div class="card h-100 w-100">
                    <div class="card-header">
                        <div class="flex-row">
                            <div class="d-flex justify-content-lg-between">
                                <span class="bg-warning p-2 rounded font-weight-bold">@string.Format("{0:0.00}%", item.DiscountPercentage) <span class="font-weight-lighter">off</span></span>
                                <div class="font-weight-bold text-center pt-2 ml-n4">
                                    R @item.SellingPrice
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <img src="@item.ImageSrc" width="144" height="144" alt="no u">
                        <div class="card-text">@item.Title</div>
                    </div>
                    <div class="card-footer">
                        <div class="container">
                            <a role="button" class="btn btn-outline-success text-success" target="_blank" href="@item.TakealotLink">Buy</a>
                            <a role="button" class="btn btn-outline-primary text-primary" href="@item.PriceBoarLink">View History</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
