<!DOCTYPE html>
<html lang="za">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127709549-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-127709549-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Polly</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Priceboar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "inline-search-form", @class = "pl_inlineSearchForm"}))
                {
                    <div class="input-group">
                        <input type="text" class="form-control pl_inlineSearch pull-right" placeholder="PLID12345678" id="SearchString" name="SearchString" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="document.getElementById('inline-search-form').submit();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Discounts", "Discount", "Home")</li>*@
                </ul>
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Priceboar</p>
        </footer>
    </div>
</body>
</html>
