@using Polly.Website.Models
@model LoginViewModel
@Scripts.Render("~/bundles/jqueryval")

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="onClose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="multi-collapse collapse show">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", id = "EmailLoginPartial" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <a href=".multi-collapse" data-toggle="collapse" id="resetLink" class="collapse show pb-1">Reset your password</a>
                    <div class="collapse multi-collapse mt-1">
                        @Html.Partial("_ForgotPasswordPartial", new ForgotPasswordViewModel())
                    </div>
                </div>
            </div>
            <!--toggle body with loading spinner and disable buttons while ajax call is loading-->
            <div class="modal-footer justify-content-between bg-light">
                <div>
                    <button type="button" onclick="loginOrRegister('/Account/Register')" class="btn btn-outline-success multi-collapse show">Register</button>
                </div>
                <div>
                    <button type="button" onclick="loginOrRegister('/Account/Login')" class="btn btn-primary multi-collapse collapse show">Log in</button>
                    <button type="button" onclick="onClose()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loginAlert" class="alert alert-info alert-dismissible fade collapse position-fixed col-4 offset-3" style="z-index:1000" data-toggle="collapse" role="alert">
    <span></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    function onClose() {
        let resetLink = $("#resetLink");
        if (resetLink.is(":hidden")) {
            $(".multi-collapse").collapse("toggle");
        }
    }

    function loginOrRegister(postUrl) {
        var loginForm = $("#loginForm");
        loginForm.validate();

        $('#loginModal :button').prop('disabled', true);

        if (loginForm.valid()) {
            $.ajax({
                data: loginForm.serialize(),
                method: "post",
                url: postUrl
            })
                .done(function (result) {
                    $('#loginModal').modal('toggle');//closes dialog
                    if (!result.success) {
                        $('#loginAlert').collapse('show');
                        $('#loginAlert span:first').html(result.message).text();
                    }
                    else {
                        location.reload();
                    }
                })
                .fail(function (failedText) {
                    alert(failedText.message);
                })
                .always(function () {
                    $('#loginModal :button').prop('disabled', false);
                });
        }
        else {
            $('#loginModal :button').prop('disabled', false);
        }
    }
</script>